##### Filter using groupby and transform

The <i>transform</i> method can be used in combination with <i>groupby</i> to filter data based on the aggregated result of multiple rows.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'.\Data\03_data.xlsx')
df

   Year   Fruit  Units_Sold
0  2019   Apple           2
1  2019   Apple           9
2  2019  Orange           5
3  2020   Apple           3
4  2020   Apple           5
5  2020  Orange           9
6  2021   Apple          12
7  2021  Orange           1
8  2021  Orange          11

The goal is to keep only the rows for which the total amount of units sold in the year is greater than 10. Therefore:
<ul>
    <li>for 2019 we want to keep only "Apple" because its total adds up to 11;</li>
    <li>for 2020 we do not want to keep any fruit because all the totals are less than 10;</li>
    <li>for 2021 we want to keep both "Apple" and "Orange" because both their totals add up to 12.</li>
</ul>

In [3]:
df = df.loc[df.groupby(['Year', 'Fruit'])['Units_Sold'].transform(sum)>10]
df

   Year   Fruit  Units_Sold
0  2019   Apple           2
1  2019   Apple           9
6  2021   Apple          12
7  2021  Orange           1
8  2021  Orange          11